* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.header{
    min-height: 80px;
    background-color: blue;
    color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .25);

    padding: 20px;
    margin-bottom: 20px;
}

.main{
    padding: 20px;
}

.article{
    border: 1px solid green;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
    margin-bottom: 20px;
}

